<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154902402358-6gkue04cm0mbio2at2qlbj1am2l8m2s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154902402358-6gkue04cm0mbio2at2qlbj1am2l8m2s6</string>
	<key>API_KEY</key>
	<string>AIzaSyCMNKAul74a5YVH1PBcsdkOB5j2y2I4GqA</string>
	<key>GCM_SENDER_ID</key>
	<string>154902402358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.edu.cocuyapps.HeadHunters</string>
	<key>PROJECT_ID</key>
	<string>hhios-ea2d0</string>
	<key>STORAGE_BUCKET</key>
	<string>hhios-ea2d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154902402358:ios:62c8404261f00d05</string>
	<key>DATABASE_URL</key>
	<string>https://hhios-ea2d0.firebaseio.com</string>
</dict>
</plist>
